body{background:#fff;font:1em Arial,Helvetica,sans-serif}
h1{margin:0 0 10px}
	h1 span{font-weight:normal}
h2{margin:0 0 20px}
p{margin:0 0 15px;font-size:0.9em}
ul, ol{font-size:0.9em}
    ul li, ol li{margin:0 0 10px}
small{font-size:0.8em}
a{color:#72B5E5}

.cont-sec{padding:30px}

.cont-b{background:#72B5E5;color:#fff}
    .cont-b a{color:#fff}

.wrapper{padding-left:250px}

.nav{position:fixed;left:0;top:0;width:250px;height:100%;background:#333}
	.nav ul{margin:0;padding:30px 0 0;list-style:none;line-heig: ;ht:1}
	.nav li{margin:0;padding:0 10px 10px}
	.nav a{display:block;padding:10px 20px;background:#72B5E5;text-decoration:none;color:#fff}
	.nav a:hover{background:#f6f6f6;color:#333}

.intro-text{font-size:1.1em;line-height:1.4}

.wrapper pre.prettyprint{padding:20px;background:#f6f6f6;border:none;font-size:0.8em;line-height:1.4}
/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }
